@import 'tailwindcss';

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-error: #c37070;
  --color-expectation: #587ebe;
  --color-choice: #d7de35;
}

@layer base {
  body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
  }
}
